
<%= flash[:error_message] %>
<div style="border-top:2px solid silver">
<br>
<h1>list of cup names</h1>



<ul style="list-style-type:circle;">
    <%@cups.each do |cup|%>
    <li><%=link_to 'View Cup', cup_path(cup), class: 'link-to-text-color'%>
    <%= cup.name%> </li>
    <%end%></ul>

<p><%= link_to 'Create New Tea', new_cup_path, class: 'link-to-text-color' %></p>
</div>

<br>
<br>
<br>
<br>
<br>

<br>
<br>







