body {
    font: 1em sans-serif;
    text-align: center;

}
.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 50px;
    font-size: 18px;
  }
 .stage1 {
    position: absolute;
    border-bottom: 2px solid #444;
    display: flex;
    height: 100;
    /* height: 490px; */
    width: 25%;
    margin-left: 300px;
 }
 


.stage2 {
    position: absolute;
    border-bottom: 2px solid #444;
    display: flex;
    /* height: 490px; */
    width: 25%;
    top: 80px;
    right: 0;
    margin-left: 300px;
    background-color: aqua
}

.image1 {
 border-radius: 50%;
  align-self: flex-end;
  transform-origin: top;
  margin: 0px;
    display: inline-block;
    /* animation-duration: 2s;
    animation-iteration-count: infinite; */
    background-color:transparent;
    height: 50px;
    /* margin: -4 auto 10 auto; */
    transform-origin: top;
    width: 50px;
}

/* .bounce-7 {
    animation-name: bounce-7;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1)


} */
/* @keyframes bounce-7 {
    0%   { transform: scale(1,1)      translateY(-100px); }
    10%  { transform: scale(1,1)   translateY(-75px); }
    20%  { transform: scale(1,1)   translateY(-70px); }
    30%  { transform: scale(1,1)   translateY(-65px); }
    40%  { transform: scale(1,1)   translateY(-60px); }
    50%  { transform: scale(1,1)   translateY(-30px); }

    50%  { transform: scale(1.05,.95) translateY(-10px); }
    57%  { transform: scale(.9,1.1)      translateY(-7px); }
    64%  { transform: scale(1.1,.9)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
} */

/* .image2 {
 border-radius: 50%;
  align-self: flex-end;
  transform-origin: top;
  margin: 0px;
    display: inline-block;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: #F44336;
    height: 70px;
    margin: -4 auto 0 auto;
    transform-origin: top;
    width: 70px;
} */


/* @keyframes bounce-7 {
    0%   { transform: scale(1,1)   translateY(-100px); }
    10%  { transform: scale(1,1)   translateY(-90px); }
    20%  { transform: scale(1,1)   translateY(-80px); }
    30%  { transform: scale(1,1)   translateY(-70px); }
    40%  { transform: scale(1,1)   translateY(-60px); }
    50%  { transform: scale(1,1)   translateY(-50px); }

    50%  { transform: scale(1.05,.95) translateY(-10px); }
    57%  { transform: scale(.9,1.1)      translateY(-7px); }
    64%  { transform: scale(1.1,.9)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}  */

/* .image3 {
 border-radius: 50%;
  align-self: flex-end;
  transform-origin: top;
  margin: 0px;
    display: inline-block;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: #F44336;
    height: 70px;
    margin: -4 auto 0 auto;
    transform-origin: top;
    width: 70px;
} */


/* .bounce-10 {
    animation-name: bounce-10;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1)


}
@keyframes bounce-7 {
    0%   { transform: scale(1,1)   translateY(-100px); }
    10%  { transform: scale(1,1)   translateY(-90px); }
    20%  { transform: scale(1,1)   translateY(-80px); }
    30%  { transform: scale(1,1)   translateY(-70px); }
        40%  { transform: scale(1,1)   translateY(-60px); }
    50%  { transform: scale(1,1)   translateY(-50px); }

    50%  { transform: scale(1.05,.95) translateY(-10px); }
    57%  { transform: scale(.9,1.1)      translateY(-7px); }
    64%  { transform: scale(1.1,.9)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
} */
/* .image4 {
 border-radius: 50%;
  align-self: flex-end;
  transform-origin: top;
  margin: 0px;
    display: inline-block;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: #F44336;
    height: 70px;
    margin: -4 auto 0 auto;
    transform-origin: top;
    width: 70px;
} */

/* .bounce-7 {
    animation-name: bounce-7;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1)


}
@keyframes bounce-7 {
    0%   { transform: scale(1,1)   translateY(-100px); }
    10%  { transform: scale(1,1)   translateY(-90px); }
    20%  { transform: scale(1,1)   translateY(-80px); }
    30%  { transform: scale(1,1)   translateY(-70px); }
        40%  { transform: scale(1,1)   translateY(-60px); }
    50%  { transform: scale(1,1)   translateY(-50px); }

    50%  { transform: scale(1.05,.95) translateY(-10px); }
    57%  { transform: scale(.9,1.1)      translateY(-7px); }
    64%  { transform: scale(1.1,.9)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
} */





.tea-fill tea {
  height: 100px;
  width: 100px;
}

/* .tea {
  fill: rgb(102, 84, 207);
  width: 51px;
  animation: tea-fill 1.25s steps(25, end) 0s infinite;
} */

/* @keyframes tea-fill {
  0% {
    height: 200px;
  }
  25% {
    height: 150px;
  }
  50% {
    height: 100px;
  }
  75% {
    height: 50px;
  }
  
  100% {
    height: 0px;
  }
} */