/* body {
    font: 1em sans-serif;
    text-align: center;

} */
.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 50px;
    font-size: 18px;
}
 .stage1 {
    position: absolute;
    display: flex;
    height: 100px;
    width: 10%;
    /* margin-left: 300px; */
    bottom: 200px;
    left: 1130px;
 }

 details {
   max-width: 50%;
 }

 details > p {
   padding-left: 10px;
  max-width: 50%;
 }

.stage2 {
    position: absolute;
    display: flex;
    height: 100px;
    width: 10%;
    /* margin-left: 300px; */
    bottom: 300px;
    left:1170px;
}
/* .stage3 {
  position: absolute;
  display: flex;
  height: 100px;
  width: 10%;
  bottom: 400px;
  left: 400px;
} */

.image1 {
 border-radius: 50%;
  align-self: flex-end;
  transform-origin: top;
  margin: 0px;
  display: inline-block;
  animation-duration: 1.5s;
    animation-iteration-count: infinite;
    background-color:transparent;
    height: 100px;
    /* margin: -4 auto 10 auto; */
    transform-origin: top;
    width: 100px;
}

 .bounce-7 {
    animation-name: bounce-7;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1)


} 
 @keyframes bounce-7 {
    0%   { transform: scale(1,1)  translateY(-300px); }
    10%  { transform: scale(1,1)  translateY(-250px); }
    20%  { transform: scale(1,1)  translateY(-200px); }
    30%  { transform: scale(1,1)  translateY(-150px); }
    40%  { transform: scale(1,1)  translateY(-100px); }

    50%  { transform: scale(1.05,.95) translateY(-20px); }
    57%  { transform: scale(.9,1.1)      translateY(-50px); }
    64%  { transform: scale(1.1,.9)      translateY(-10); }
    100% { transform: scale(1,1)      translateY(0); }
} 


/* 
.tea {
  fill: rgb(102, 84, 207);
  width: 200px;
  animation: tea-fill 1.25s 0s infinite;
}

 @keyframes tea-fill {
  0% {
    bottom: 200px;
  }
  25% {
    bottom: 250px;
  }
  50% {
    bottom: 300px;
  }
  75% {
    bottom: 350x;
  }
  
  100% {
    bottom: 400px;
  }
} */