// Place all the styles related to the cups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#navbar{

    overflow: auto;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    color: white;/* Full width */
  
  }
  
  /* Links inside the navbar */
  #navbar a {
    float: left;
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background: #85C7F2;
    border-style: solid;
    border-color: white;
  
  }
  
  /* Change background on mouse-over */
  #navbar a:hover {
    background: #85C7F2;
    color: black;
  }
/*   
  .spacer
  {
      width: 100%;
      height: 95px;
  } */