$max: 100px;

.tea-fill tea {
  height: $max;
  width: $max;
}

.tea {
  fill: rgb(102, 84, 207);
  width: 18px;
  animation: tea-fill 1.25s steps(25, end) 0s infinite;
}

@keyframes tea-fill {
  0% {
    height: 200px;
  }
  25% {
    height: 150px;
  }
  50% {
    height: 100px;
  }
  75% {
    height: 50px;
  }
  
  100% {
    height: 0px;
  }
}